<div class="row">
  <div class="col-md-6">
    <h1><%= fa_icon 'graduation-cap' %> Minicursos</h1>
  </div>
  <div class="col-md-6">
    <div class="btn-group pull-right">
      <a href="<%= new_admin_minicurso_path %>" class="btn btn-primary"><%= fa_icon 'plus' %> Novo Minicurso</a>
    </div>
  </div>
</div>

<%= render partial: 'table', locals: { minicursos: @minicursos } %>
