<p>Caro(a) <%= @minicurso.participante.nome.upcase %>,</p>

<p>Infelizmente a sua proposta de minicurso, intitulada <strong><%= @minicurso.titulo.upcase %></strong>, não foi aceita para ser apresentada na III SEMEAD.</p>
