<p>Caro(a) <%= @trabalho.participante.nome %>,</p>

<p>Parabéns! Seu trabalho, intitulado <strong><%= @trabalho.titulo %></strong>, foi APROVADO para ser apresentado na III SEMEAD.</p>

<p>Por gentileza, aguarde contato da Comissão de Avaliação de Trabalhos Científicos para orientações sobre sua apresentação.</p>
