<p>Prezado(a) autor(a)</p>

<p>
  <strong><%= @minicurso.participante.nome %></strong>
</p>

<p class="justify">A Comissão Organizadora do III Seminário Internacional de Educação a Distância: Cenário Atual e Perspectivas da Educação a Distância tem a satisfação de comunicar que seu minicurso, intitulado <%= @minicurso.titulo.upcase %>, foi <strong>APROVADO</strong> pela Comissão Científica.
</p>

<p class="justify">O local e o horário da realização do seu minicurso serão divulgados, posteriormente, na página do evento.</p>
