<p>
  Certificamos que <strong>JALERSON RAPOSO FERREIRA DE LIMA</strong>, de nacionalidade brasileira, portador do CPF nº <strong>999.999.999-99</strong>, participou do III Seminário Internacional de Educação a Distância, realizado no Campus de Educação a Distância do Instituto Federal de Educação, Ciência e Tecnologia do Rio Grande do Norte, entre os dias 10 e 12 de maio de 2017.
</p>

<p class="right-side">
  Natal, 07 de março de 2017.
</p>
