<p>Caro(a) <%= @participante.nome %>,</p>

<p>A sua inscrição para a III SEMEAD foi realizada, contudo, o pagamento da sua taxa de inscrição foi cancelada por solicitação sua, pela organização do evento ou porque o prazo para pagamento expirou. A sua inscrição no evento só estará confirmada e garantida após a confirmação de pagamento da taxa de inscrição.</p>

<%= render partial: 'participante_mailer/pagamento_inscricao' %>

<%= render partial: 'participante_mailer/submissao_trabalho' %>
