<p>Caro(a) <%= @participante.nome %>,</p>

<p>O pagamento da sua taxa de inscrição para a III SEMEAD está em processamento. Para acompanhar a situação de sua inscrição, entre no Painel do Participante através do endereço: <a href="http://eventos.ifrn.edu.br/semead/login" target="_blank">http://eventos.ifrn.edu.br/semead/login</a></p>

<%= render partial: 'participante_mailer/submissao_trabalho' %>
