<p>Caro(a) <%= @participante.nome %>,</p>

<p>A sua inscrição para a III SEMEAD foi realizada, contudo, ainda é necessário realizar o pagamento da sua taxa de inscrição. A sua inscrição no evento só estará confirmada e garantida após a confirmação de pagamento da taxa de inscrição.</p>
