<h1><%= fa_icon 'key' %> Recuperação de senha</h1>

<p>Uma mensagem foi enviada para o seu endereço de e-mail. Por favor, siga as instruções da mensagem para redefinir a sua senha.</p>

<p>
  Atenciosamente,<br>
  Comissão Organizadora Central da III SEMEAD/IFRN-EaD<br>
  <a href="mailto:semead@ifrn.edu.br">semead@ifrn.edu.br</a>
</p>
