<h1>Pagamento aprovado!</h1>

<p>Obrigado por se inscrever na III SEMEAD! Seu pagamento foi aprovado e portanto a sua inscrição está confirmada!</p>

<p>Lembre-se de levar seu documento de identificação (com CPF) para o credenciamento.</p>

<%= link_to fa_icon('undo') + " Voltar", "https://ead.ifrn.edu.br/semead", class: "btn btn-primary" %>
