<h1>O pagamento falhou</h1>

<p>Infelizmente sua tentativa de pagamento falhou. Por favor, clique no botão abaixo para tentar novamente.</p>

<p>Sua inscrição na III SEMEAD só estará confirmada após o pagamento ter sido aprovado.</p>

<a class="btn btn-primary" href="<%= participante_pagar_path(participante_id: current_user.autenticavel.id) %>"><%= fa_icon 'undo' %> Tentar novamente</a>
