<h1>Pagamento em processamento</h1>

<p>Seu pagamento está em processamento e sua inscrição estará confirmada quando ele for confirmado.</p>

<p>Lembre-se de levar seu documento de identificação (com CPF) para o credenciamento.</p>

<%= link_to fa_icon('undo') + " Voltar", "https://ead.ifrn.edu.br/semead", class: "btn btn-primary" %>
