<div class="text-center">
  <%= image_tag 'semead3.png' %>
</div>

<h1>Inscrições encerradas!</h1>

<p>Infelizmente o prazo para inscrições na III SEMEAD se encerrou em <%= data(Config.instance.data_encerramento_inscricoes) %>.</p>
