<div class="row">
  <div class="col-md-6 col-sm-12">
    <h1>Inscrição</h1>
    <%= render partial: 'form' %>
  </div>
  <div class="col-md-6 col-sm-12">
    <h2>Valores</h2>
    <table class="table table-bordered">
      <thead>
        <th>Perfil</th>
        <th>Até 28/02/2017</th>
        <th>Até 30/04/2017</th>
        <th>Até 10/05/2017</th>
      </thead>
      <tbody>
        <tr>
          <td>Estudantes</td>
          <td>R$ 80</td>
          <td>R$ 100</td>
          <td>R$ 120</td>
        </tr>
        <tr>
          <td>Professores da educação básica, ensino superior, pós-graduação e outros profissionais de educação</td>
          <td>R$ 100</td>
          <td>R$ 120</td>
          <td>R$ 140</td>
        </tr>
        <tr>
          <td>Público em geral</td>
          <td>R$ 120</td>
          <td>R$ 140</td>
          <td>R$ 160</td>
        </tr>
      </tbody>
    </table>

    <h2>Já fez sua inscrição?</h2>
    <%= render partial: 'sessions/form' %>

    <h2>Pagamento por empenho</h2>
    <p><strong>ATENÇÃO: Os dados bancários abaixo são fornecidos para viabilizar o pagamento por nota de empenho. Não será aceito pagamento da taxa de inscrição por meio de depósito bancário ou transferência!</strong></p>
    <dl class="dl-horizontal">
      <dt>Nome fantasia:</dt><dd>FUNCERN</dd>
      <dt>Razão social:</dt><dd>Fundação de Apoio a Educação e ao Desenvolvimento Tecnológico do RN</dd>
      <dt>CNPJ:</dt><dd>02.852.277/0001-78</dd>
      <dt>E-mail:</dt><dd><a href="mailto:atendimento@funcern.br">atendimento@funcern.br</a></dd>
      <dt>Endereço:</dt><dd>Avenida Senador Salgado Filho, 1559, Tirol, CEP: 59.015-000 – Natal/RN</dd>
      <dt>Banco:</dt><dd>Caixa Econômica Federal</dd>
      <dt>Agência:</dt><dd>1406</dd>
      <dt>Operação:</dt><dd>003</dd>
      <dt>C/C:</dt><dd>555-4</dd>
    </dl>
  </div>
</div>
