<div class="row">
  <div class="col-md-6 col-sm-12">
    <h1>Inscrição</h1>
    <%= render partial: 'form' %>
  </div>
  <div class="col-md-6 col-sm-12">
    <h2>Valores</h2>
    <table class="table table-bordered">
      <thead>
        <th>Perfil</th>
        <th>Até 28/02/2017</th>
        <th>Até 30/04/2017</th>
        <th>Até 10/05/2017</th>
      </thead>
      <tbody>
        <tr>
          <td>Estudantes</td>
          <td>R$ 80</td>
          <td>R$ 100</td>
          <td>R$ 120</td>
        </tr>
        <tr>
          <td>Professores da educação básica, ensino superior, pós-graduação e outros profissionais de educação</td>
          <td>R$ 100</td>
          <td>R$ 120</td>
          <td>R$ 140</td>
        </tr>
        <tr>
          <td>Público em geral</td>
          <td>R$ 120</td>
          <td>R$ 140</td>
          <td>R$ 160</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
