<div class="row">
  <div class="col-md-6">
    <h1><%= fa_icon 'pencil' %> Participação</h1>
  </div>
  <div class="col-md-6">
    <div class="btn-group pull-right">
      <a class="btn btn-primary" href="<%= participante_pagar_path(participante_id: @participante.id) %>">Pagar inscrição</a>
    </div>
  </div>
</div>

<div class="panel panel-success">
  <div class="panel-body">
    <%= render partial: 'detalhes' %>
  </div>
</div>
