<h2>Deseja se inscrever em um minicurso?</h2>
<p>Para se inscrever em minicursos, entre no endereço <a href="http://eventos.ifrn.edu.br/semead/login" target="_blank">http://eventos.ifrn.edu.br/semead/login</a>, preencha e envie suas credenciais, clique na aba 'Inscrições' e selecione o minicurso ao qual deseja se inscrever (disponível até <%= data(Config.instance.data_termino_inscricoes_minicursos) %>).</p>
