<p>Caro(a) <%= @participante.nome %>,</p>

<p>A sua inscrição para a III SEMEAD foi realizada com sucesso! Contudo, ainda será preciso confirmá-la através
  <% if @participante.pagamento_por_empenho? %>
    da verificação da sua nota de empenho para o pagamento da taxa de inscrição.
  <% elsif @participante.solicitou_isencao? %>
    da conferência da sua isenção da taxa de inscrição.
  <% else %>
    do pagamento da sua taxa de inscrição.
  <% end %>
</p>

<% unless @participante.pagamento_por_empenho? or @participante.solicitou_isencao? %>
  <%= render partial: 'pagamento_inscricao' %>
<% end %>
