<p>Caro(a) <%= @participante.nome %>,</p>

<p>A sua inscrição para a III SEMEAD foi realizada com sucesso! Contudo, ainda será preciso confirmá-la através do pagamento da sua taxa de inscrição.</p>

<%= render partial: 'pagamento_inscricao' %>

<%= render partial: 'submissao_trabalho' %>
