<p>Caro(a) <%= @participante.nome %>,</p>

<p>Infelizmente a sua isenção da taxa de inscrição da III SEMEAD foi rejeitada. Contudo, você ainda pode participar do seminário pagando a taxa de inscrição.</p>

<%= render partial: 'pagamento_inscricao' %>
