<p>Caro(a) <%= @participante.nome %>,</p>

<p>Ficamos felizes em informar que a sua nota de empenho foi aprovada, portanto sua inscrição está confirmada.</p>

<% if Config.permitir_submissao_trabalhos? %>
  <%= render partial: 'submissao_trabalho' %>
<% end %>

<% if Config.permitir_submissao_minicursos? %>
  <%= render partial: 'submissao_minicurso' %>
<% end %>

<% if Config.permitir_inscricao_minicursos? %>
  <%= render partial: 'inscricao_minicurso' %>
<% end %>
