<p>Caro(a) <%= @participante.nome %>,</p>

<p>O pagamento da sua taxa de inscrição para a III SEMEAD foi aprovado e, portanto, a sua inscrição está confirmada!</p>

<h2>Deseja submeter trabalhos?</h2>

<p>Para submeter trabalhos, entre no endereço <a href="http://eventos.ifrn.edu.br/semead/login" target="_blank">http://eventos.ifrn.edu.br/semead/login</a>, preencha e envie suas credenciais, clique na aba 'Trabalhos' e clique no botão 'Enviar Trabalho' (disponível até <%= Config.instance.get(:data_termino_submissao_trabalhos).strftime("%d/%m/%Y") %>).</p>

<p>Ficamos a disposição caso tenha problemas ou dúvidas.</p>

<p>
  Atenciosamente,<br>
  Comissão Organizadora Central da III SEMEAD/IFRN-EaD<br>
  <a href="mailto:semead@ifrn.edu.br">semead@ifrn.edu.br</a>
</p>
